* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
body {
  background-image: url('../assets/img/fondoPablos.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
nav {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  color: white;
  font-size: 20px;
}
.header__homeIcon {
  width: 30px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
}
nav ul a {
  color: #fff;
  display: block;
  padding: 8px;
}

nav ul a:hover {
  color: #f36f21;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 10% 0 10%;
  margin-bottom: 50px;
  margin-top: 120px;
}

.directionContainer {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  background-color: #1111118e;
  border-radius: 10px;
  padding: 20px;
}
.directionContainer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directionContainer__content > h3 {
  color: #fff;
}
.directionContainer__content > img {
  color: #fff;
  padding: 20px;
  max-width: 90%;
  border-radius: 30px;
}
.directionContainer > a > button {
  display: flex;
  padding: 8px 6px 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background-color: #f36f21;
  border: none;
  color: #fff;
  cursor: pointer;
}
#footer {
  display: flex;
  width: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 60%;
  width: 100%;
  padding: 20px 10% 20px 10%;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
#footer .footer__imgContainer {
  height: 30%;
  border-radius: 50%;
}
#footer .footer__imgContainer img {
  max-width: 30%;
  border-radius: 50%;
}
.footer__schedule {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.footer__schedule h3 {
  color: #ffffffd8;
  font-size: 2em;
  font-weight: bold;
}
.footer__schedule h4 {
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
}
.footer__schedule h5 {
  color: #f8eae2;
  font-size: 2em;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  nav {
    padding: 8px;
  }
  .header__homeIcon {
    width: 20px;
    cursor: pointer;
  }
  nav ul a {
    color: #fff;
    display: block;
    padding: 5px;
    font-size: 15px;
  }
  main {
    padding: 0 2% 0 2%;
  }
}
