body{
    background-image: url(fotos/fondo\ pablos.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.uno{
    background-color: rgb(255, 232, 223);
    height: 72px;
    width: 100%;

}
.b5{
position: absolute;
display: block;
right: 10%;
border-radius: 50%;
width: 150px;
height: 70px;
font-size: 20px;
background-color: rgb(255, 232, 223);
color: rgb(255, 145, 0);
border-color:rgb(255, 145, 0);
border-width: 10px;


}
.b4{
position: absolute;
display: block;
right: 28%;
border-radius: 50%;
width: 150px;
height: 70px;
font-size: 20px;
background-color: rgb(255, 232, 223);
color: rgb(255, 145, 0);
border-color:rgb(255, 145, 0);
border-width: 10px;
    
}
.b3{
position: absolute;
display: block;
right:46%;
border-radius: 50%;
width: 150px;
height: 70px;
font-size: 20px;
background-color: rgb(255, 232, 223);
color: rgb(255, 145, 0);
border-color:rgb(255, 145, 0);
border-width: 10px;
        
}
.b2{
position: absolute;
display: block;
right: 64%;
border-radius: 50%;
width: 150px;
height: 70px;
font-size: 20px;
background-color: rgb(255, 232, 223);
color: rgb(255, 145, 0);
border-color:rgb(255, 145, 0);
border-width: 10px;
            
}

.b1{
position: absolute;
display: block;
right: 82%;
border-radius: 50%;
width: 150px;
height: 70px;
font-size: 15px;
background-color: rgb(255, 232, 223);
color: rgb(255, 145, 0);
border-color:rgb(255, 145, 0);
border-width: 10px;
}

.im1{
position: absolute;
display: block;
left: 2%;
width: 40px;
height: 40px;
top: 4%;
    
}

.box{
    width: 38vh;
    height: 38vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;
    border-radius: 50%;
    display: block;
    
}

.box img{
 border-radius: 50%;
 object-fit: cover;
 width: 300px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.box .mas{
    width: 0%;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .4s all;
    
}

.mas h1{
    color: orangered;
    font-size: 20px;
    text-transform: uppercase;
}

.box:hover .mas{
    width: 100%;

}

/*display: block;
    bottom: 6cm;
    right: 40%;   
    box-shadow: 0px 15px 25px black;
*/
.foto1{
    
    height: 400px;
}

.foto2{
    width: 500px;
    height: 300px;
}

.linea{
 height: 5px;
 width: 100px;
 display: block;

}

#inicio{
    width: 50px;
    height: 50px;
    background-color: black;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s ;
    

}

.galeria >a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px white; 
}

.galeria a:hover{
    /*filter: blur(2px);*/
    transform: rotate(10deg)scale(1.3);
}



